.App{
  background-color:#123551;
  text-align: center;
  margin: 100px;
  margin-top: 20px;
  border-radius: 30px;
}
.Background{
  align-self: start;
  padding-bottom:20px ;
}
.video{
  width:60%; 
  height:80%;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
}
html{
  background:linear-gradient(#bcfbf3,#f9ced5);
  width: 100%;
  height: 100%;
}
.Logo{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-family: "Alice", sans-serif;
  color: pink;
  text-shadow: 1.5px 1.5px #068087;
}
.StartBar button{
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border-color: Pink;
  border-radius: 10px;
  box-shadow:1px 1px #068087;
}

.SoundBar{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SoundBar .stroke{
  display: block;
  position: relative;
  background-color: #C6FCE5;
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}
.stroke:nth-child(1){
  animation-delay: 0s;
}
.stroke:nth-child(2){
  animation-delay: 0.3s;
}
.stroke:nth-child(3){
  animation-delay: 0.6s;
}
.stroke:nth-child(4){
  animation-delay: 0.9s;
}
.stroke:nth-child(5){
  animation-delay: 0.6s;
}
.stroke:nth-child(6){
  animation-delay: 0.3s;
}
.stroke:nth-child(7){
  animation-delay: 0s;
}
@keyframes animate {
    50%{
      height: 20%;
    }
    100%{
      height: 100%;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: pink;
  text-shadow: 1px 1px #068087;
}
.StartBar{
  display: grid;
  justify-items: center;
}
.StartBar .inputBox{
  width: 500px;
  margin: 10px;
  margin-bottom: 0px;
  height: 25px;
}
.StartBar .StartButton{
  margin: 20px;
  font-family: 'Alice';
  font-size: 30px;
  border: solid;
  box-shadow: none;
  color: #C6FCE5;
  -webkit-transition:color 0.3s linear;
}

.StartButton:hover{
  color: #f9ced5;
  cursor: pointer;
}
.youtube{
  display: none;
}

.photoBackGround{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  background-image: url(./Components/LucyNDavid.png);
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  background-size: cover;
  opacity: 0.6;
}

.ToDoList{
  margin-top: 20px;
  margin-bottom: 20px;
}

.Timmer{
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 4px solid #bcfbf3;
}